# Virtual environment
venv/
.env/
.env

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter & IPython
.ipynb_checkpoints/

# VSCode
.vscode/

# Data files (CSV, Excel, ZIP)
*.csv
*.xlsx
*.xls
*.zip
*.rar
*.7z


# Data folders
data/raw/
data/processed/
data/interim/

# OS files
.DS_Store
Thumbs.db

# Log files
*.log
.streamlit/secrets.toml